@import '../../global//refs.scss';

.main-content {
  width: 100%;

  .rewards {
    display:flex;
    align-items: center;
    flex-direction: column;
    font: 'Outfit';

    .rewards-title {
      color: $orange;
      font-weight: bold;
      font-style: normal;
      font-size: 30px;
      line-height: 38px;
    }
  
    .rewards-list {
      width: 100%;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
  
      .reward {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4%;

        .coin-reward {
          @include flex(center, center, row);
          @include style-font(light, 14pt);

          .coin-text {
            display: flex;
            justify-content: center;
            margin-right: 15px;

            img {
              margin-right: 10px;
            }
          }
          .reward-title {
            max-width: 200px;
            font-size: 18px;
          }
        }
      }
    }
  }
  
  .rewards-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 110px;
  }
}
