@import '../../global//refs.scss';

.user-info-container {
  width: 100%;
  margin-bottom: 10%;
  font-weight: 400;
  font-size: 21px;
  line-height: 40px;

  .user-info {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 5%; 
    
    .avatar {
      margin: 0 5%;
    }
  }
}