@import '../../global//refs.scss';

.user-info-container {
  width: 100%;
  height: max-content;
  max-width: 500px;
  border-bottom: 1px solid $gray;
  margin: auto;
  font-weight: 400;
  font-size: 21px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;

  .user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .avatar {
      margin: 0 3%;
    }

    .name {
      margin: 4.5% 0;
    }
  }
}