@import '../../global//refs.scss';

.instruction-container {
  display: flex;
  width: 100%;
  
  .instruction-header {
    width: 90%;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    align-items: center;
    padding: 2%;

    .header-left {
      width: 100%;
      @include flex(flex-start, center);
      
      .instruction-title {
        width: fit-content;
        margin-left: 3%;
      }
    }

    .header-right {
      width: 100%;
      @include flex(flex-end, center);
      
      .instruction-title {
        width: fit-content;
        margin-right: 3%;
      }
    }
  }

  .instruction-description {
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}