$orange: #FF8411;
$blue: #58A8E2;
$gray: #C4C4C4;
$darkOrange: #E37209;
$yellow: #FFC700;
$usual-font: 'Outfit', sans-serif;
$medium: 600;
$regular: 500;
$width: 100vw;

@mixin  style-font($weight-font, $size-font) {
  @if $weight-font == light {
      font-weight: normal;
  } @else if $weight-font == bold {
      font-weight: $medium;
  }

  @if $size-font == 12pt {
      font-size: 0.86rem;
  } @else if $size-font == 14pt {
      font-size: 1rem;
  } @else if $size-font == 18pt {
      font-size: 1.21rem;
  } @else if $size-font == 20pt {
      font-size: 1.43rem;
  } @else if $size-font == 25pt {
    font-size: 1.78rem;
  }
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}

@mixin flex($justify: flex-start, $align: stretch, $direction: row, $wrap: nowrap) {
  @if ($justify == cc) {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  } @else {
    display: flex;
    display: -webkit-flex;
    justify-content: $justify;
    align-items: $align;
    -webkit-align-items: $align;
    -webkit-justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
  }
}