@import '../../global//refs.scss';

.child-activities-container {
  width: 100%;
  max-width: 500px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  margin: auto;

    a {
        text-decoration: none;
        color: #000;
        width: 100%;
        @include flex(center, center, row);
    }

    .body {
        .body-header {
            display: flex;
            flex-direction: column;
    
            .div-logout-button {
                display: flex;
                justify-content: flex-end;
    
                .logout-button {
                    background: transparent;
                    border: 0;
                }
            }

            .div-title {
                display: flex;
                justify-content: center;

                .title {
                    align-self: center;
                    @include style-font(bold, 25pt);
                }
            }
    
        }
        .child-activities {
            margin-top: 5px;
            @include flex(flex-start, center, column);
            
        }
        .parent-activities {
            margin-top: 25px;
            @include flex(flex-start, center, column);

        }
        h2 {
            width: 90%;
            margin: 0px;
            margin-bottom: 10px;
            color: $orange;
            @include style-font(light, 20pt);

            &.with-parent {
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }
  }
