@import '../../global//refs.scss';

.activities-instructions-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: #FF7B00;
  color: #ffffff;
  font: 'Outfit';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .back-button {
    background: transparent;
    border: 0;
    margin-right: auto;
    img {
      width: 50px;
      height: 50px;
      margin: 0;
    }
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .instructions {
      width: 100%;
      padding: 0 25px;
      box-sizing: border-box;
    }
  }


  img {
    width: 75px;
    height: 75px;
  }
  
  .activity-name {
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
  }
}