@import '../../global//refs.scss';

.child-activity-container {
    width: 90%;
    .status-name {
        @include flex(flex-start, center, row);
        .activity-name {
            margin-left: 20px;
        }
        .check {
            text-decoration-line: line-through;
        }
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: $gray;
    }
}