@import '../../global/refs.scss';

.main-layout {
  @include flex(space-between, center, column);
  height: 100vh;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;

  .content {
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;

    .header-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .header-logout {
      margin-right: 5%;
    }

    button {
      background-color: transparent;
      border: transparent;
      border-radius: 50%;
      margin-left: 20px;
      cursor: pointer;
    }

    p {
      font-size: 22px;
      margin-left: 10px;
    }
  }

  .main-nav {
    @include flex(space-between, center, row);
    height: 90px;
    width: 100%;
    background-color: $orange;

    .nav-icon {
      margin: 0 20px;
    }

    a {
      &.selected {
        margin-bottom: 2px solid white;;
      }
    }
  }
}
