@import '../../global//refs.scss';

.child-header-container {
    width: 100%;
    height: 70px;
    @include flex(center, center, column);
    border-bottom: 1px solid $gray;
}

.content {
    width: 90%;
    @include flex(space-between, flex-start, row);
    // align-self: flex-end;

    a {
        @include flex(flex-end, center);
        margin-left: auto;
    }

    .back-button {
        background-color: white;
        border: none;
    }

    .coin {
        background-color: $yellow;
        @include flex(space-between, center, row);
        border-radius: 30px 30px 30px 30px;
        margin-left: auto;
        border: none;
        cursor: pointer;
        .value {
            margin: 0 0 2px 0;
            padding: 0 10px;
            color: white;
            @include style-font(normal, 18pt);
        }
    }
}